* {
    margin: 0px;
    padding: 0px;
}

.container{
    display: inline-block;
    margin-top: 25px;
    margin-bottom: 100px;
    width: 1000px;
}

.header {
    display: inline-block;
    border: 3px solid black;
    margin-left: 10px;
}

.header h1, p, a {
    display: inline-block;
    justify-content: space-around;   
}

.header h1 {
    margin-left: 25px;
    margin-right: 100px;
}

.header p {
    margin-right: 100px;
}

.header a {
    margin-right: 25px;
}

.userMessage {
    display: block;
    margin-top: 50px;
    margin-left: 50px;
    width: 100%;
}

.textboxInput {
    width: 90%;
    height: 75px;
}

.messageButton {
    align-content: right;
    margin-left: 75%;
}