* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background: #E9ECF4;
    color:#000;
    font-family: 'Roboto', sans-serif;
}

.container{
    width:90%;
    max-width: 1200px;
    margin:20px auto;
    display: grid;
    /* grid-gap:10px; */
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(6,auto);
}

.container .header,
.container .userMessage,
.container .postedMessages{
    background: #fff;
    padding: 20px;
}

.header {
    grid-column:1/5;
    border: 3px solid black;
    margin-left: 10px;
}

.header h1, p, a {
    display: inline-block;
    justify-content: space-around;   
}

.header h1 {
    margin-left: 25px;
    margin-right: 100px;
}

.header p {
    margin-right: 100px;
}

.header a {
    margin-right: 25px;
}

.userMessage {
    grid-column:1/5;
    display: block;
    margin-top: 50px;
    /* margin-left: 50px; */
    width: 100%;
}

.textboxInput {
    width: 90%;
    height: 75px;
}

.messageButton {
    align-content: right;
    margin-left: 75%;
    background:  #045c84;
    color: #fff;
    padding: 8px 30px;
    border-radius: 30px;
}

.postedMessages{
    grid-column:1/5;
}

.btn{
    display: inline-block;
    background:  #045c84;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
}

